<h2>Foglalásaim</h2>

<table mat-table [dataSource]="tickets" class="mat-elevation-z1">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Film </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.projection.movie.title}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Kezdés </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.projection.time | date:'yyyy/MM/dd HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="row">
    <th mat-header-cell *matHeaderCellDef> Sor </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.row}} </td>
  </ng-container>

  <ng-container matColumnDef="seat">
    <th mat-header-cell *matHeaderCellDef> Szék </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.seat}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let ticket"> <button mat-flat-button type="delete" color="primary" (click)="deleteTicket(ticket.id)">Foglalás törlése</button> </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>