<mat-toolbar>
  <span>Movies&trade;</span>
  <button mat-button routerLink="">Home</button>
  <button mat-button routerLink="movies">Movies</button>


  <div *ngIf="!authService.isLoggedIn">
    <button class="float-right" mat-button routerLink="/login">Login</button>
  </div>

  <div *ngIf="authService.isLoggedIn && checkAdmin()">
    <button mat-button routerLink="my-reservations">My reservations</button>
    <button class="float-right" mat-button (click)="authService.logout()">Logout</button>
    <div class="float-right">  | {{authService.user.name}}</div>
    <button class="float-right" mat-button routerLink="new-movie">New movie</button>
    <button class="float-right" mat-button routerLink="new-projection">New projection</button>
    <button class="float-right" mat-button routerLink="tickets">Tickets</button>
    <div class="float-right">  | </div>
  </div>

  <div *ngIf="authService.isLoggedIn && !checkAdmin()">
      <button mat-button routerLink="my-reservations">My reservations</button>
      <button class="float-right" mat-button (click)="authService.logout()">Logout</button>
      <div class="float-right">  | {{authService.user.name}}</div>
  </div>

</mat-toolbar>