<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="movieTitle" required>
  </mat-form-field>
  <br> 
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Age limit" formControlName="agelimit">
      <mat-option value="0">0</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="16">16</mat-option>
      <mat-option value="18">18</mat-option>
    </mat-select>
  </mat-form-field>
  <br> 
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" formControlName="description" required></textarea>
  </mat-form-field>
  <br> 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Rating" formControlName="rate" min="0" max="10" required>
  </mat-form-field>
  <br> 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Length in minutes" formControlName="length" required>
  </mat-form-field>
  <br> 
  <h4>Actors in the movie</h4>
  <mat-checkbox class="actor" *ngFor="let actor of _actors" formControlName="actor{{ actor.id }}">{{ actor.name }}</mat-checkbox>
  <br> 
  <button class="margin-top-30" mat-flat-button type="submit" color="primary">Add new movie</button>
</form>