<h2>
  {{ _movie.title }}
  <span class="age-limit age-limit-{{ _movie.agelimit }}">{{ _movie.agelimit }}</span>
</h2>

<div class="movie-desc">
    <p>{{ _movie.description}}</p>
    
    <ul class="movie-data">
      <li>Length: {{ _movie.length }} perc</li>
      <li>Rating: {{ _movie.rate }} / 10</li>
    </ul>

    <hr/>

    <h4>Actors</h4>
    <ul class="movie-data">
      <li *ngFor="let actor of _movie.actors">{{ actor.name }}</li>
    </ul>
</div>

<h3>Projections</h3>

<mat-grid-list cols="3" rowHeight="300">
    <mat-grid-tile *ngFor="let projection of _projections">
      <mat-card class="movie-list-element">
        <mat-card-title>
          {{ projection.time.toLocaleString() | date:'yyyy/MM/dd HH:mm' }}
          <span class="age-limit age-limit-{{ _movie.agelimit }}">{{ _movie.agelimit }}</span>
        </mat-card-title>
        <mat-card-subtitle>
          <ul class="movie-data">
            <strong>
              <li>{{ projection.room.name }} (max {{ projection.room.seats * projection.room.rows }} person)</li>
            </strong>
            <li>Ticket price: {{ projection.price }}</li>
            <li>3D projection: {{ projection.is3d ? "yes" : "no" }}</li>
          </ul>
        </mat-card-subtitle>
        <mat-card-actions align="center">
            <button *ngIf="authService.isLoggedIn" mat-flat-button color="primary" routerLink="/buy-ticket/{{ projection.id }}">
              Buy ticket
            </button>
            <span *ngIf="!authService.isLoggedIn">You have to login to buy ticket!</span>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>