<div id="home-background">
  <h2>Watch the newest movies at our cinema!</h2>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<mat-grid-list cols="3" rowHeight="270">
  <mat-grid-tile *ngFor="let movie of _movies">
    <mat-card class="movie-list-element">
      <mat-card-title>
        {{ movie.title }}
        <span class="age-limit age-limit-{{ movie.agelimit }}">{{ movie.agelimit }}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{ movie.description }}</p>
        <ul class="movie-data">
          <li>Length: {{ movie.length }} perc</li>
          <li>Rating: {{ movie.rate }} / 10</li>
        </ul>
      </mat-card-subtitle>
      <mat-card-actions align="right">
        <a mat-flat-button color="primary" href="movies/{{ movie.id }}">
          More &#187;
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>